<ion-content padding>
  <div class="bg-client">

    <br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-center>
          <img src="assets/logomarcamumpspreta.png" height="50rem">
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col size-sm="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4" no-padding>
          <ion-card *ngIf="!userLogged?.name">
            <div class="show-login">
              <ion-card-content>
                <h2>{{"ENTER" | translate}}</h2>
                <ion-item>
                  <ion-label position="floating">{{"TYPE_LOGIN" | translate}}</ion-label>
                  <ion-input [(ngModel)]="userLogged.login" (keyup.enter)="userLogged.login && userLogged.login.length > 0 && proximo()"></ion-input>
                </ion-item>
              </ion-card-content>
              <ion-card-content text-end>
                <ion-button (click)="proximo()" [disabled]="!userLogged.login || userLogged.login.length <= 0">
                  <ion-icon slot="start" name="arrow-forward"></ion-icon>
                  {{"NEXT" | translate}}
                </ion-button>
              </ion-card-content>
            </div>
          </ion-card>
          <ion-card *ngIf="userLogged?.name">
            <div class="show-login">
              <ion-card-content>
                <h3>{{"WELCOME" | translate}}</h3>
                <h2><b>{{ userLogged?.name}}</b></h2>
                <ion-item>
                  <ion-label position="floating">{{"TYPE_PASSWORD" | translate}}</ion-label>
                  <ion-input type="password" [(ngModel)]="userLogged.password" (keyup.enter)="userLogged.password && userLogged.password.length > 0 && login()"></ion-input>
                </ion-item>
              </ion-card-content>
              <ion-card-content text-end>
                <ion-button fill="clear" (click)="voltar()">
                  <ion-icon slot="start" name="arrow-back"></ion-icon>
                  {{"VOLTAR" | translate}}
                </ion-button>
                <ion-button (click)="login()" [disabled]="!userLogged.password || userLogged.password.length <= 0">
                  <ion-icon slot="start" name="send"></ion-icon>
                  {{"LOGIN" | translate}}
                </ion-button>
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>