<ion-app>
  <ion-split-pane>
    <ion-menu *ngIf="links && links.length > 0">
      <ion-header >
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!-- Caso tenha algum link para exibir -->
          <span *ngFor="let link of links">
            <ion-item-group *ngIf="link.menu">
              <ion-item-divider>
                <ion-label>{{link.menu}}</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let l of link.links" (click)="navegation(l.rota);">
                <ion-icon *ngIf="l.icon" [name]="l.icon"></ion-icon>
                <ion-label>{{l.nome}}</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item *ngIf="!link.menu && link.rota" (click)="navegation(link.rota);">
              <ion-icon *ngIf="link.icon" [name]="link.icon"></ion-icon>
              <ion-label>{{link.nome}}</ion-label>
            </ion-item>
          </span>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>