<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="selectedContactType">
      <ion-button (click)="showEdit();"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button (click)="showDelete();"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!selectedContactType">
      <ion-button (click)="showSearch();">
        <ion-icon name="search">
        </ion-icon>
        <ion-badge color="danger" *ngIf="listFilters.length > 0">{{listFilters.length}}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"CONTACT_TYPE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCad(null);">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col no-padding size-sm="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <ion-list>
          <ion-item *ngFor="let cType of contactTypes" (click)="onClick(cType);" [color]="cType == selectedContactType ? 'secondary' : ''">
            <ion-label>{{cType.name}}</ion-label>
          </ion-item>
          <ion-item *ngIf="!contactTypes && contactTypes.length <= 0">
            <label>{{"NOT_RECORDS_FOUND" | translate}}</label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
