<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!contactType?.id">
        {{"REGISTER" | translate}} {{"CONTACT_TYPE" | translate}} 
    </ion-title>
    <ion-title *ngIf="contactType?.id">
      {{"EDIT" | translate}} {{"CONTACT_TYPE" | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{"NAME" | translate}}</ion-label>
              <ion-input [(ngModel)]="contactType.name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col text-end>
            <ion-button (click)="create()" [disabled]="!contactType.name || contactType.name.length <= 0" *ngIf="!contactType?.id">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              {{"SAVE" | translate}}
            </ion-button>
            <ion-button (click)="update()" [disabled]="!contactType.name || contactType.name.length <= 0" *ngIf="contactType?.id">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              {{"UPDATE" | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
